body{
    
    background-image:url("./assets/images/hero-proximity-3.png");
    background-repeat:no-repeat;
    background-position:right top;
    background-size:contain;
  }
  
  @media (max-width: 768px){
    body{
      background-image:url("./assets/images/hero-proximity-mobile.png");
      
    }
    @media (max-width: 670px){
        body{
          background-image:url("./assets/images/hero-proximity-mobile2.png");
          
        }
    
    @media (max-width: 570px){
            body{
              background-image:url("./assets/images/hero-proximity-mobile3.png");
              
            }
            @media (max-width: 525px){
                body{
                  background-image:url("./assets/images/hero-proximity-mobile4.png");
                  
                }
    @media (max-width: 470px){
        body{
          background-image: url("./assets/images/hero-proximity-mobile5.png");
          
          
        }
  }
  @media (max-width: 460px){
    body{
      background-image: none;
      
      
    }
}
  }
}
  }
}